<div class="reset">
  <div class="mainReset" *ngIf="step === 1">
    <h2 style="color: white">{{ "password.ResetPassword" | translate }}</h2>
    <h3 style="color: white; margin-top: 30px; text-align: center">
      {{ "password.ResetInstruction" | translate }}
    </h3>
    <form [formGroup]="resetForm" (ngSubmit)="sendResetCode()">
      <label
        style="color: white; align-self: self-start; font-weight: bold"
        for="email"
        >{{ "password.Email" | translate }}</label
      >
      <input type="email" formControlName="email" required />
      <button type="submit">{{ "password.SendCode" | translate }}</button>
    </form>
  </div>

  <div class="mainReset" *ngIf="step === 2">
    <h2 style="color: white">{{ "password.ConfirmCode" | translate }}</h2>
    <h3 style="color: white; margin-top: 30px; text-align: center">
      {{ "password.ResetCodeInstruction" | translate }}
    </h3>
    <form [formGroup]="codeForm" (ngSubmit)="confirmCode()">
      <label
        style="color: white; align-self: self-start; font-weight: bold"
        for="code"
        >{{ "password.Code" | translate }}</label
      >
      <input type="text" formControlName="codeResetPassword" required />
      <button type="submit">{{ "password.ConfirmCode" | translate }}</button>
    </form>
  </div>

  <div class="mainReset" *ngIf="step === 3">
    <h2 style="color: white">{{ "SetPassword" | translate }}</h2>
    <h3 style="color: white; margin-top: 30px; text-align: center">
      {{ "password.PasswordInstruction" | translate }}
    </h3>
    <form [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
      <label
        style="color: white; align-self: self-start; font-weight: bold"
        for="password"
        >{{ "password.NewPassword" | translate }}</label
      >
      <input type="password" formControlName="password" required />
      <button type="submit">{{ "password.ChangePassword" | translate }}</button>
    </form>
  </div>
</div>
